/ begin conditional content
%li.item.blog{:class => "#{last ? 'last' : nil}"}
  %p.site_info{:style => "background: white url(#{post.service.icon_url}) 3px center no-repeat"}
    == Eu #{t post.service_action} no
    = link_to post.service.name, blog_index_path
  .item_inner
    / domain-specific boxes
    .inner_container
      %p.blog_title= link_to post.title, blog_path(post.slug)
      %p= image_tag('fancy_divider.gif', :alt => 'divider')
      %p.blog_cite= truncate(post.summary, :length => 140)
      %p.blog_continue= link_to 'Continue lendo &raquo;', blog_path(post.slug)
  %p.date
    = relative_published_date(post.published_at)
    |
    = link_to 'Comentários &raquo;', blog_path(post.slug, :anchor => 'disqus_thread')
    = link_to('Admin', edit_blog_path(post), :class => 'admin') if current_user