/ begin conditional content
%li.item.scuttle{:class => "#{last ? 'last' : nil} #{post.published? ? nil : 'unpublished'}"}
  %p.site_info{:style => "background: white url(#{post.service.icon_url}) no-repeat scroll 3px center; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"}
    == Eu #{t post.service_action} no
    = link_to post.service.name, lifestream_path(post.service)
  .item_inner
    / domain-specific boxes
    .inner_container
      %p.scuttle_title= link_to post.title_or_nil, post.url
      %p.scuttle_description= truncate(post.summary_or_nil, :length => 140)
      %p.scuttle_tags
        Tags:
        - post.tags.each do |tag|
          %span.scuttle_tag= link_to tag.name, tag_path(tag.name)
  %p.date
    - if post.published?
      = relative_published_date(post.published_at)
    - else
      %strong NÃO PUBLICADO
    |
    = link_to 'Visitar', post.url
    = link_to 'Permalink', post_path(post), :class => 'quiet'

