/ begin conditional content
%li.item.twitter{:class => "#{last ? 'last' : nil}"}
  %p.site_info{:style => "background: white url(#{post.service.icon_url}) no-repeat scroll 3px center; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"}
    == Eu #{post.service_action} no
    = link_to post.service.name, lifestream_path(post.service)
  .item_inner
    / domain-specific boxes
    %p.twitter_user= link_to image_tag(post.service.profile_image_url), post.url
    %p.twitter_tweet= post.summary
  %p.date
    = relative_published_date(post.published_at)
    |
    = link_to 'Permalink', post.url
    = link_to('Admin', '#', :class => 'admin') if true