/ begin conditional content
%li.item.vimeo{:class => "#{last ? 'last' : nil}"}
  %p.site_info{:style => "background: white url(#{post.service.icon_url}) 3px center no-repeat"}
    == Eu #{t post.service_action} no
    = link_to post.service.name, lifestream_path(post.service)
  .item_inner
    / domain-specific boxes
    %object{:width => "212", :height => "159"}
      %param{:name => "allowfullscreen", :value => "true"}
      %param{:name => "allowscriptaccess", :value => "always"}
      %param{:name => "movie", :value => "http://www.vimeo.com/moogaloop.swf?clip_id=#{post.identifier}&amp;server=www.vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1"}
      %embed{:src => "http://www.vimeo.com/moogaloop.swf?clip_id=#{post.identifier}&amp;server=www.vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1", :type => "application/x-shockwave-flash", :allowfullscreen => "true", :allowscriptaccess => "always", :width => "212", :height => "159"}
    %p.vimeo_title= link_to post.title, post.url
  %p.date
    = relative_published_date(post.published_at)
    |
    = link_to 'Permalink', post.url
    = link_to('Admin', '#', :class => 'admin') if true