/ begin conditional content
%li.item.visualizeus{:class => "#{last ? 'last' : nil}"}
  %p.site_info{:style => "background: white url(../images/visualizeus_favicon.gif) 3px center no-repeat"}
    == Eu #{post.service_action} no
    = link_to post.service.name, lifestream_path(post.service)
  .item_inner
    / domain-specific boxes
    %p.activity_image_text= link_to post.title, post.url
    = link_to '', post.url, :class => 'activity_image', :style => "background: url(#{post.extra_content['image_url']}) center center no-repeat;"
  %p.date
    = relative_published_date(post.published_at)
    |
    = link_to 'Permalink', post.url
    = link_to('Admin', '#', :class => 'admin') if true