#footer
  = link_to image_tag("credits.gif", :alt => "bola"), "http://github.com/rtopitt/bola_ng/tree/master", :title => "#{Settings.site.name} is powered by BOLA NG", :id => "credits"
  %span#copyright
    Copyright 2000 - 2009 © Settings.site.name
    |
    == Running on #{link_to 'bola_ng', 'http://github.com/rtopitt/bola_ng/tree/master'} v0.1
    |
    - if current_user
      = link_to 'admin', '#TODO'
      |
      = link_to 'logout', logout_path
    - else
      = link_to 'login', login_path
