%h3#search_title Busca
%form#search_form{:method => "post", :action => "http://www.yongfook.com/items/do_search"}
  %p
    %input{:name => "query", :class => "text_input", :value => "", :type => "text"}
    %input{:type => "submit"}

#explanation
  Bem vindo à PiTTlândia. Você está vendo o meu <strong>lifestream</strong>, um fluxo em tempo real da minha atividade online espalhada por diversos websites, juntamente com posts ocasionais no meu <strong>blog</strong> para seu deleite.

%h3#feeds_title Fontes do Lifestream
%ul#feeds_list.tag_list
  - Service.active.all.sort_by(&:name).each do |service|
    %li
      - if service.icon_url
        = image_tag service.icon_url, :width => 16, :height => 16

      - if service.class == BlogService
        = link_to service.name, blog_index_path
      - else
        = link_to service.name, lifestream_path(service)

%h3#blog_title
  Últimos posts no Blog
  = link_to 'Ver Todos »', blog_index_path
%ul#blog_list
  - BlogService.first.posts.published.ordered.latest.all.each do |post|
    %li
      %p.title= link_to post.title, blog_path(post)
      %p.date
        = time_ago_in_words(post.published_at)
        |
        = link_to 'Comentários &raquo;', blog_path(post, :anchor => 'disqus_thread')

%h3
  Tags Populares
  = link_to 'Ver Todas »', tags_path
%ul.tag_list
  / %li <a href="/items/tag/onsite">onsite</a>
  - Post.published.tag_counts(:limit => 30, :order => 'count DESC').each do |tag|
    %li= link_to tag.name, tag_name_path(tag.name)

%h3 Sobre a PiTTlândia
#aboutme
  #aboutme_blurb
    %ul
      %li I built <a href="http://www.opensourcefood.com/" title="Open Source Food - Recipes by people like you and me">opensourcefood</a> and run it as a personal project.
      %li I'm the project leader and lead developer of <a href="http://www.sweetcron.com/" title="Sweetcron - Open Source Lifestreaming Software">Sweetcron</a>, an open source platform to create your own lifestream website (like this one).
      %li I love <a href="http://www.opensourcefood.com/people/yongfook/" title="My recipes on OSF">cooking</a>, <a href="http://en.wikipedia.org/wiki/Model-view-controller">MVC</a>, <a href="http://www.php.net/">PHP</a> and clear, intuitive design.
      %li I'm half Singaporean Chinese, half British.
      %li Lolcats make me lol and I'm quite cumfurtabubble speekin in teh lol.
    %p <a href="about.html">Mais »</a>
  %p.sidebar_small_banner <a href="http://www.orkut.com.br/Main#Profile.aspx?uid=5765880671845393652" title="Eu no Orkut"><img src="/images/orkut.jpg" alt="orkut"></a>
  %p.sidebar_small_banner <a href="http://pt-br.facebook.com/people/Rodrigo-Tassinari/601755734" title="Eu no FaceBook"><img src="/images/facebook.jpg" alt="facebook"></a>
  %p.sidebar_small_banner <a href="http://old.pittlandia.net/" title="link para o site antigo"><img src="/images/oldsite.gif" alt="site antigo"></a>