%h3#search_title Busca
- form_tag search_path, :method => :get, :id => 'search_form' do
  %p
    = text_field_tag :q, @query, :class => "text_input"
    = submit_tag 'Buscar', :name => nil

#explanation
  == Bem vindo à #{Settings.site.name}. Você está vendo o meu <strong>lifestream</strong>, um fluxo em tempo real da minha atividade online espalhada por diversos websites, juntamente com posts ocasionais no meu <strong>blog</strong> para seu deleite.

%h3#feeds_title Fontes do Lifestream
%ul#feeds_list.tag_list
  - Service.all.sort_by(&:name).each do |service|
    %li
      - if service.icon_url
        = image_tag service.icon_url, :width => 16, :height => 16

      - if service.class == BlogService
        = link_to service.name, blog_index_path
      - else
        = link_to service.name, lifestream_path(service)

%h3#blog_title
  Últimos posts no Blog
  = link_to 'Ver Todos »', blog_index_path
%ul#blog_list
  - BlogService.first.posts.published.ordered.latest.all.each do |post|
    %li
      %p.title= link_to post.title, blog_path(post.slug)
      %p.date
        == #{time_ago_in_words(post.published_at)} atrás
        |
        = link_to 'Comentários &raquo;', blog_path(post.slug, :anchor => 'disqus_thread')

%h3
  Tags Populares
  = link_to 'Ver Todas »', tags_path
%ul.tag_list
  / %li <a href="/items/tag/onsite">onsite</a>
  - Post.published.tag_counts(:limit => 30, :order => 'count DESC').sort_by(&:name).each do |tag|
    %li= link_to tag.name, tag_name_path(tag.name), :title => "#{tag.count} itens"

%h3== Sobre #{Settings.site.name}
#aboutme
  #aboutme_blurb
    %ul
      %li Site pessoal de Rodrigo Tassinari de Oliveira, vulgo PiTT (não pergunte por quê).
      %li== Powered by #{link_to 'bola_ng', 'http://github.com/rtopitt/bola_ng/tree/master'}, sistema desenvolvido por mim, inspirado no #{link_to 'Sweetcron', 'http://www.sweetcron.com/'}. Software livre, feito com #{link_to 'Ruby', 'http://www.ruby-lang.org/', :title => 'Ruby Language'}, #{link_to 'Rails', 'http://rubyonrails.org/', :title => 'Ruby on Rails'} e um pouquinho de mágica.
      %li== Todo conteúdo gerado por mim é disponibilizado sob uma #{link_to 'licença Creative Commons', 'http://creativecommons.org/licenses/by-sa/2.5/br/deed.pt', :title => 'Atribuição-Compartilhamento pela mesma Licença 2.5'}.
      %li= random_phrase
    %p= link_to 'Mais »', about_path
  %p.sidebar_small_banner
    = link_to image_tag("orkut.jpg", :alt => "orkut"), "http://www.orkut.com.br/Main#Profile.aspx?uid=5765880671845393652", :title => "Eu no Orkut"
  %p.sidebar_small_banner
    = link_to image_tag("facebook.jpg", :alt => "facebook"), "http://pt-br.facebook.com/people/Rodrigo-Tassinari/601755734", :title => "Eu no FaceBook"
  %p.sidebar_small_banner
    = link_to image_tag("oldsite.gif", :alt => "site antigo"), "http://old.pittlandia.net/", :title => "link para o site antigo"

%h3 Feeds RSS
%ul#feeds_list
  %li
    = link_to image_tag('rss.jpg', :alt => 'RSS'), lifestream_index_url(:format => :rss)
    = link_to 'Feed do Lifestream', lifestream_index_url(:format => :rss)
  %li
    = link_to image_tag('rss.jpg', :alt => 'RSS'), blog_index_url(:format => :rss)
    = link_to 'Feed do Blog', blog_index_url(:format => :rss)

%h3 Sites Vizinhos
%ul#feeds_list.tag_list
  %li= link_to 'Riopro Informática', 'http://www.riopro.com.br/'
  %li= link_to 'Blog da Riopro', 'http://blog.riopro.com.br/'
  %li= link_to 'VoteBolsa', 'http://votebolsa.com.br/'
  %li= link_to 'Zest', 'http://zest.com.br/'
  %li= link_to 'Peneirando', 'http://peneirando.com/'
  %li= link_to 'OverThere', 'http://overthere.com.br'
  %li= link_to 'Winning11 + Álcool', 'http://winning11.pittlandia.net'
