%p#breadcrumb
  = link_to 'Lifestream', root_path
  &rsaquo; Resultado da busca por:
  == <b>#{h @query}</b>
  - if Tag.exists?(['name = ?', @query])
    %span.small== &nbsp;&nbsp;&nbsp;(ver itens marcados com <b>#{link_to @query, tag_name_path(@query)}</b>)

%ul#activity_list
  - @posts.each_with_index do |post, index|
    = render :partial => "lifestream/#{post.service.class.to_s.underscore}", :locals => {:post => post, :last => is_last_in_row?(index)}

.clear

%p#pagination
  Página:
  = will_paginate @posts, :previous_label => '«', :next_label => '»', :container => false
