#single_header
  %h3.post{:style => "background: white url(#{post.service.icon_url}) 0 center no-repeat"}
    == Eu #{t post.service_action} no #{link_to post.service.name, lifestream_path(post.service)}:
  %h2= post.title
  %p
    - if post.published?
      = relative_published_date(post.published_at)
    - else
      %strong NÃO PUBLICADO
    |
    = link_to 'Visitar', post.url

#single_content
  %p= auto_link(post.summary)
  
  %p= link_to image_tag("http://capture.heartrails.com/large?#{post.url}", :alt => "thumbnail"), post.url
  
  %p= link_to post.url, post.url, :class => 'small'

