#single_container.admin
  #single_header
    %h2== Editando post no blog ##{@post.id}

  #single_content
    - form_for @post, :url => blog_path(@post.id), :method => :put do |f|
      = f.error_messages

      %p
        = f.label :title, 'Título'
        %br
        = f.text_field :title, :size => 70

      %p
        = f.label :body, 'Texto'
        %br
        = f.text_area :body, :cols => 80

      %p
        = f.label :tag_list, 'Tags'
        %br
        = f.text_field :tag_list, :size => 70

      %p
        = f.check_box :published
        = f.label :published, 'Publicado?'

      %p
        = f.label :published_at, 'Publicado em'
        %br
        = f.datetime_select :published_at

      %p
        = f.submit "Salvar"
        == ou #{link_to 'cancelar', blog_path(@post.slug)}
