#single_container.admin
  #single_header
    %h2 Escrever novo post no blog

  #single_content
    - form_for @post, :url => blog_index_path, :method => :post do |f|
      = f.error_messages

      %p
        = f.label :title, 'Título'
        %br
        = f.text_field :title, :size => 70

      %p
        = f.label :body, 'Texto'
        %br
        = f.text_area :body, :cols => 80

      %p
        = f.label :tag_list, 'Tags'
        %br
        = f.text_field :tag_list, :size => 70

      %p
        = f.submit "Enviar"
        == ou #{link_to 'cancelar', blog_index_path}
