- if current_user
  %p.action
    = link_to 'Editar', edit_blog_path(@post.id), :class => 'admin'
    = link_to 'Apagar', blog_path(@post.id), :class => 'admin', :method => :delete, :confirm => "Você tem certeza disso, zero-cinco?"

#single_container
  #single_header
    %h3.post{:style => "background: white url(#{@post.service.icon_url}) 0 center no-repeat"}
      == Eu #{t @post.service_action} no #{link_to @post.service.name, blog_index_path}:
    %h2= @post.title
    %p
      = relative_published_date(@post.published_at)
      = link_to '#', blog_path(@post.slug), :title => 'Permalink', :class => 'quiet small'

  #single_content
    = auto_link(@post.body.html_safe)

  - unless @post.tags.empty?
    %ul.item_tag_list
      %li Tags:
      - @post.tags.each do |tag|
        %li= link_to tag.name, tag_name_path(tag.name)

- unless @post_context.empty?
  %p#breadcrumb
    - if @post_context.first
      = link_to "&laquo; #{h @post_context.first.title}".html_safe, blog_path(@post_context.first.slug)
    &nbsp;
    - if @post_context.last
      = link_to "#{h @post_context.last.title} &raquo;".html_safe, blog_path(@post_context.last.slug)

#comments_container
  = raw disqus_comments_tag(Settings.disqus_site_id)
