!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "Content-type", :content => "text/html; charset=utf-8"}

    %link{'href' => "/images/blog_favicon.ico", 'rel' => "icon", 'type' => "image/x-icon"}

    = stylesheet_link_tag "reset.css"
    = stylesheet_link_tag "application.css"

    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"
    = javascript_include_tag "jrails"
    = javascript_include_tag "application"
    
    <!--[if IE 6]>
    <script type="text/javascript"> 
    var IE6UPDATE_OPTIONS = {
    icons_path: "http://static.ie6update.com/hosted/ie6update/images/",
    message: "O seu Internet Explorer não possui as atualizações necessárias para ver este site. Clique aqui para atualizá-lo..."
    }
    </script>
    <script type="text/javascript" src="http://static.ie6update.com/hosted/ie6update/ie6update.js"></script>
    <![endif]-->
    
    = auto_discovery_link_tag(:rss, @feed_url) if @feed_url

    %title== #{Settings.site.name} :: #{@page_title}

  %body

    #header
      .center_box{:style => "background-image: url(../images/header/#{random_header}.png);"}
        %ul#navigation
          %li{:class => "#{'current' if @current_tab == 'lifestream'}"}
            = link_to 'Lifestream', root_path, :title => "Tudo que faço online"
          %li{:class => "#{'current' if @current_tab == 'blog'}"}
            = link_to 'Blog', blog_index_path, :title => "Meu blog"
          %li{:class => "#{'current' if @current_tab == 'about'}"}
            = link_to 'Sobre', about_path, :title => "Sobre"
          %li{:class => "#{'current' if @current_tab == 'contact'}"}
            = link_to 'Contato', contact_path, :title => "Contato"
        %h1
          = link_to Settings.site.name, root_path
          %span= Settings.site.tagline

    .center_box
      #main_container
        = display_flashes
        = yield
      #sidebar_container
        = render :partial => 'shared/sidebar'

    = render :partial => 'shared/footer'

    = getclicky_javascript(Settings.getclicky_id)

